/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2016, 07:10:28 PM
    Author     : Stein
*/

body {
    text-align: center;
}

#contenedor {
    background: gainsboro;
    min-width: 500px;
    max-width: 1000px;
    margin: 0 auto;
    max-height: 1300px;
    min-height: 700px
}
#cabecera {
    height: 100px;
    background: orangered;
    
}
#navegador {
    height: 30px;
}
#contenido {
    float: left;
    width: 100%;
}
#contenido #principal {
    max-height: 1100px;
    min-height: 600px;
    float: left;
    background: peru;
    width: 80%;
}
#contenido #secundario {
    //height: 80px;    
    max-height: 1100px;
    min-height: 600px;
    background: yellow;
    float: left;
    width: 20%;
}

#pie {
    height: 80px;
    background: firebrick;
    height: 20px;
    clear: both;
}
#navegador ul{
   list-style-type: none;
   text-align: end;
}
#navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navegador li a {
   padding: 2px 7px 2px 7px;
   color: cadetblue;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
#navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}


#menuList {
  margin: 0px;
  padding: 2px;
  line-height:0px;
  width:14em; /* Es necesario aportar anchura al menú para limitar el ancho de los botones */
}

#menuList li {
  display: block; /* De este modo los elementos del menú se mostrán como bloques uno debajo de otro y hasta el ancho del menú */
  margin: 2px;
  padding: 0;
  list-style: none;
}

#menuList li a, #menuList1 li a:focus {
  display: block;
  border: 1px solid #0000FF;
  margin: 0;
  text-decoration: none;
  font-family: Verdana,Arial,Helvetica;
  font-size: 12px;
  font-weight:bold;
  padding: 15px;/* Cuanto mayor sea el espaciado, mas grande será el area del botón. */
}

#menuList li a:hover {
  background-color: #003399;
  color: #FFC
C00;
}
